
<br>
<!-- 
<div class="footer">
  <mat-divider></mat-divider>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            
          </div>
          <div class="col-sm">
           
            <ul class="ul">
                <h5 class="sec">SECTIONS</h5>
                <a href=""><li>Home</li></a>
                <a href=""><li>Coronavirus</li></a>
                <a href=""><li>Tending posts</li></a>
                <a href=""><li>Travel</li></a>
               <a href=""> <li>Politics</li></a>
              <a href=""><li>Technology</li></a> 
               <a href=""><li>Sport</li></a> 
               <a href=""> <li>Health</li></a>
               <a href=""><li>Money</li></a> 
            </ul>
          </div>
          <div class="col-sm">
            <ul class="ul">
                <h5 class="sec">ABOUT</h5>
                <a href=""><li>contact</li></a>
                <a href=""><li>feedback</li></a>
                <a href=""><li>privacy policy</li></a>
                <a href=""><li>Terms of service</li></a>
               <a href=""> <li>share tips with brivima.com</li></a>
              <a href=""><li>make money with brivima</li></a> 
            </ul>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <label class="copy">copyright &copy; brivima.com. All right reserved</label>
     
</div> -->
<!-- <footer id="footer" class="bg-light mt-5 ">
  <div class="container">
          <div class="footer-wrapper">
      <div class="row">                    
        <div class="col-md-3 col-sm-3">
          <a href="" class="footerLogo">Company</a>
          <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-xing"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2">
          <h5>For individuals</h5>
          <ul class="footer-links">
            <li><a href="">Signup</a></li>
            <li><a href="">login</a></li>
            <li><a href="">Explore</a></li>
            <li><a href="">Finder app</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">Language settings</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2">
          <h5>For businesses</h5>
          <ul class="footer-links">
            <li><a href="">new post</a></li>
            <li><a href="">Business login</a></li>
            <li><a href="">Benefits</a></li>
            <li><a href="">Resources</a></li>
            <li><a href="">Advertise</a></li>
            <li><a href="">Setup</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2">
          <h5>About</h5>
          <ul class="footer-links">
            <li><a href="">About us</a></li>
            <li><a href="">Contact us</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms</a></li>
            <li><a href="">Help</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3">
          <h5>Contact Us</h5>
          <ul class="contact">
            <li><i class="fa fa-phone"></i>+1 (234) 123 1234</li>
            <li><i class="fa fa-envelope-o"></i>info@company.com</li>
            <li><i class="fa fa-home"></i>123 Any street second floor, INDIA</li>
          </ul>
        </div>
      </div>
      </div>
  </div>
  <div class="clearfix"></div>
  <div class="copyright">
    <p>Company © 2019. All rights reserved</p>
  </div>
    </footer>												                             -->
<div class="footer2">
  <mat-divider></mat-divider>
  <div class="clearfix"></div>
  <div class="copyright">
    <a routerLink="privacypolicy" target="_blank"> privacy policy |</a>
    <a routerLink="privacypolicy" target="_blank"> terms of service |</a>
    <a routerLink="contactus"> contact us |</a>
    <a routerLink="contactus">  about us</a>
    
  
    <br> 
    <label class="copy">copyright &copy; <a routerLink="admin">brivima.com. </a>all right reserved</label>
  
  </div>
  

</div>