<div class="container newsletter-block">
    <h3 class="newsletter">Join our newsletter</h3>
    <form action="">
        <div class="form-group">
            
            <input type="name" name="Name" class="form-control" [(ngModel)] = "Name"  id="Firstname" aria-describedby="mamealHelp" placeholder="Enter your name">
            <small id="nameHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">

            <input type="email" name="Email" class="form-control"  [(ngModel)] = "Email" id="exampleInputname2"  placeholder="Enter your email">
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>

          <button (click)="joinnewsletter($event)" class="btn btn-primary">Subscribe to our newsletter</button>
          <!-- <label for="button">by click on Subscribe to our newsletter you agree to get regular update to the email address provided above</label> -->
    </form>
</div>

