.grid{
    padding: 15px;
}
.list{
  text-decoration: none;
  display: block;
}
.Trending{
  font-size: large;
  font-style: bold;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 450;
  padding: 0px;
  margin: 0px;
}
.section-title{
  position: relative;
  margin-bottom: 20px;
}
.section-title span{
  font-weight: 400;
  font-size: 17px;
  color: blue;
}
.section-title span:after{
  content: "";
  position: absolute;
  background: blue;
  width:50px;
  height: 2px;
  left:0;
  bottom:0;
}
.box{
  padding: 10px 10px;

}
.box h5{
  font-size: 16px;
  font-weight: bold;
}
.row-item{
  cursor: pointer;
}
.bb-1{
  padding:20px 0px;
  border-bottom: 1px solid #eee;
}
.section{
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
small{
  color:#999;

}
.row{
margin:20px
}
.col-sm-10{
  padding-right: 10px;
}

.grid{
  display:grid;
  grid-gap: 20px;
  padding:10px;
  grid-template-columns: repeat(2,2fr);
 
}
@media screen and (max-width: 1235px) {
  .grid{
    display:grid;
    grid-gap: 18px;
    padding:9px;
    grid-template-columns: repeat(2,1fr);
   
  }
  .col{
    background-color: #fff;
    padding: 15px;  
    box-sizing: border-box;
    box-shadow:#eee ;
    margin:15px
    }
  
}
@media screen and (max-width: 1200px){
  .grid{
    display:grid;
    grid-gap: 10px;
    padding:9px;
    grid-template-columns: repeat(2,1fr);
   
  }
  
}
@media screen and (max-width: 619px){
  .grid{
    display:grid;
    width: 100%;
    align-items: center;
    padding:4px;
    text-align: center;
    text-align: center;
    grid-template-columns: repeat(1,1fr);
   
  }
  .col{
    background-color: #fff;
    width: 100%;
    padding: 12px;  
    align-items: center;
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    box-shadow:#eee ;
    margin:20px
    }
  
}
@media screen and (max-width: 1000px){
  .grid{
    display:grid;
    grid-gap: 25px;
    padding:4px;
    grid-template-columns: repeat(2,1fr);
   
  }
  .col{
    background-color: #fff;
    padding: 12px;  
    box-sizing: border-box;
    box-shadow:#eee ;
    margin:20px
    }
  
}
@media screen and (max-width: 619px){
  .grid{
    display:grid;
    grid-gap: 10px;
    padding:4px;
    grid-template-columns: repeat(1,1fr);
   
  }
  .col{
    background-color: #fff;
    padding: 7px;  
    box-sizing: border-box;
    box-shadow:#eee ;
    margin:10px
    }
  
}
.col{
background-color: #fff;
padding: 5px;  
box-sizing: border-box;
box-shadow:#eee ;
grid-template-columns: repeat(2,1fr);
cursor:pointer
}

.image{
width:80%;
height: 80%;
}

.header{
  font-size: xx-large;
  /* font-size: large; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bold;
  cursor: pointer;
  /* font-weight: bold;
  font-style: oblique;
  cursor: pointer; */
}
.header:hover{
  color: #7419db;
}
.aboutheader{
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  font-size: large;
  font-style: bold;
}
.card-container{
  border: #fff;
  padding: 10px;
  margin: auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.623);
}
.headerlabel{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  text-align: center;
  font-weight: 500;
  font-style: bold;
  font-size: large;
}











a{
  text-decoration: none;
}