.toolbar {
    align-items: center;
    background-color: #262626;
    position:relative;
    color: white;
    font-weight: 600;
    padding: 12px;
    margin: 0px;
  }
  
  .spacer {
    flex: 1 ;
  }
  .link a{
      text-decoration: none;
  }
  .link a button{
      color: white;
  }
  .menu{
    color: #fff;
    margin-right: 20px;
    font-size:x-large;
    cursor: pointer;
  }
  .menu :hover{
    margin: 10px;

  }
.socials{
  text-align: center;

}
.socials img{
  padding: 20px;
}
  @media screen and (min-width: 770px) {

    .menu{
     display: none;
    }
    .logo{
      width: 2%;
    }

  }
  @media screen and (max-width: 770px) {
   .link{
     display: none;
   }
   .logo{
     width: 10%;
   }
  
  }
  .sec{
    font-size: 14px;
    padding-bottom: 13px;
    line-height: 1.4;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;
  }
  .ul li{
    font-size: 12px;
    padding-bottom: 10px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    cursor:pointer;
    display: block;
    color: rgb(20, 20, 20);
    
  }
  .x{
    padding: auto;
    cursor: pointer;
  }
  .matcontainer mat-sidenav{
    width: 70%;
  
   

  }
  .logo{
    width: 5%;
  }
  ngb-carousel{
    width: 100%;
  }
  .title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 100;
    padding: 15px;
    margin-top: 5px;
  
  }
  
  mat-sidenav-content{
    background-color: #fff;
  }

  .col22{
    width:80%;
    -ms-flex-item-align: center;
  }
  .col33{
    width:20%;
    -ms-flex-item-align: left;
  }


  @media screen and (max-width: 1200px) {
    .col11{
      width: 20%;
      -ms-flex-item-align: right;
    }
    .col22{
      width:70%;
      -ms-flex-item-align: center;
    }
    .col33{
      width:30%;
      -ms-flex-item-align: left;
    }
   

   }

   @media screen and (max-width: 1000px) {
    
    .col22{
      width:75%;
      -ms-flex-item-align: center;
    }
    .col33{
      width:25%;
      -ms-flex-item-align: left;
    }
   
   }
   @media screen and (max-width: 768px) {
 
    .col22{
      width:70%;
      -ms-flex-item-align: center;
    }
    .col33{
      width:30%;
      -ms-flex-item-align: left;
    }
   
   }
   @media screen and (max-width: 576px) {
  
    .col22{
      width:100%;
      -ms-flex-item-align: center;
    }
   
   
   }
 
  .spinner {
    position: fixed;
    z-index: 1031;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
app-newsletter{
  margin-top: 100px;
}
.ul a{
  text-decoration: none;
}